extends ./layout

block body
	h2 Solicitud de vacaciones por aprobar
	hr(style="height: 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #b80813;width:50%")
	h3 Por favor ingrese al self service para aprobar la solicitud de #{obj.nombreEmpleado}

	form(style="")

		div(style="max-width:500px;text-align:left;margin-bottom:10px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Número de solicitud
			div(style="width:50%;display:inline-block")= obj.id

		div(style="max-width:500px;text-align:left;margin-bottom:10px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Desde
			div(style="width:50%;display:inline-block")= obj.desde

		div(style="max-width:500px;text-align:left;margin-bottom:10px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Hasta
			div(style="width:50%;display:inline-block")= obj.hasta

		div(style="max-width:500px;text-align:left;margin-bottom:10px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Retorno
			div(style="width:50%;display:inline-block")= obj.retorno
		
		div(style="max-width:500px;text-align:left;margin-bottom:10px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Días que se tomará
			div(style="width:50%;display:inline-block")= obj.dias
		
		div(style="max-width:500px;text-align:left;margin-bottom:10px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Creado por
			div(style="width:50%;display:inline-block")= obj.creadoPor