extends ./layout

block body
	h2 Notificación Solicitud de Renovación de Contrato
	hr(style="height: 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #b80813;width:50%")
	h3 #{obj.texto}

	form(style="")

		div(style="max-width:500px;text-align:center;margin-bottom:20px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Número de solicitud
			div(style="width:50%;display:inline-block")= obj.id

		div(style="max-width:500px;text-align:center;margin-bottom:20px;")
			div(style="width:50%;display:inline-block;font-weight:bold;") Empleado
			div(style="width:50%;display:inline-block")= obj.codigo + ': ' + obj.nombre
	
		if obj.indeterminado
			div(style="max-width:500px;text-align:center;margin-bottom:20px;")
				div(style="width:50%;display:inline-block;font-weight:bold;") Tipo de contrato
				div(style="width:50%;display:inline-block") Indeterminado

		if obj.meses > 0
			div(style="max-width:500px;text-align:center;margin-bottom:20px;")
				div(style="width:50%;display:inline-block;font-weight:bold;") Cantidad de meses para renovar
				div(style="width:50%;display:inline-block")= obj.meses

		div(style="max-width:500px;text-align:center;margin-bottom:20px;")
				div(style="width:50%;display:inline-block;font-weight:bold;") Creado por
				div(style="width:50%;display:inline-block")= obj.creadoPor
		