extends ./layout

block body
	h2(style="font-size: 16px") #{obj.userJefe} ha #{obj.tipo} la hoja de ruta numero #{obj.numero}
	form(style=`background: #fff;padding: 25px; border-radius: 6px;width: 500px;border: 2px solid  ${obj.color};`)
		div(style="width:35%;display:inline-block;font-weight:bold;vertical-align: top; padding-bottom: 9px;text-align: initial;") Numero
		div(style="width:35%;display:inline-block")
			span(style="display:block;font-size: 12px;text-align: initial;text-transform: uppercase;")= obj.numero
		div(style="width:35%;display:inline-block;font-weight:bold;vertitext-transform: uppercase;cal-align: top; padding-bottom: 9px;text-align: initial") Fecha
		div(style="width:35%;display:inline-block")
			span(style="display:block;font-size: 12px;text-align: initial;text-transform: uppercase;")= obj.fecha
		div(style="width:35%;display:inline-block;font-weight:bold;vertitext-transform: uppercase;cal-align: top; padding-bottom: 9px;text-align: initial") Cliente
		div(style="width:35%;display:inline-block")
			span(style="display:block;font-size: 12px;text-align: initial;text-transform: uppercase;")= `${obj.codigoCliente}  ${obj.cliente}`
		div(style="width:35%;display:inline-block;font-weight:bold;vertitext-transform: uppercase;cal-align: top; padding-bottom: 9px;text-align: initial") #{obj.tipo} por
		div(style="width:35%;display:inline-block")
			span(style="display:block;font-size: 12px;text-align: initial;text-transform: uppercase;")= obj.userJefe
		if obj.motivo
			div(style="width:35%;display:inline-block;font-weight:bold;vertitext-transform: uppercase;cal-align: top; padding-bottom: 9px;text-align: initial") Motivo
			div(style="width:35%;display:inline-block")
				span(style="display:block;font-size: 12px;text-align: initial;text-transform: uppercase;")= obj.motivo